

.contact {
    background: url('../public/images/hands.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: none;
}

input[type=text], input[type=email] {
    border-radius: 5px;
    border-color: #143159;
    border-width: 1px;
    padding: .4rem;
}

input[type=text]:focus, input[type=email]:focus {
    border-color: #2E98D4;
    outline: #2E98D4;
}

.button {
    background: linear-gradient(#2E98D4, #2E98D4 50%, #143159 50% ); 
    color: white;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
}

.about {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../public/images/globe.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.about-top {
    background: url('../public/images/hands.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.about-para {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../public/images/sun.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.about-forest {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../public/images/forest.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.ministries-top {
    background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url('../public/images/kids.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.ministries-youth {
    background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url('../public/images/kids_3.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.ministries-outreach {
    background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url('../public/images/constr.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.ministries-support {
    background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url('../public/images/hands.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.beliefs-top {
    background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url('../public/images/cross.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.index-top {
    background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url('../public/images/the-way-main.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.inv-top {
    background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url('../public/images/sun.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
}